<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <%- include('layout/header'); %>
    <main>
        <h2>Bedankt voor het invullen van de enquête!</h2>
        <p>Zijn er nog antwoorden die je wilt wijzigen?</p>
        <label for="change">Welk gedeelte zou je willen wijzigen?</label>
        <select name="change" id="change">
            <option value="/" selected>Persoonsgegevens</option>
            <option value="/css">CSS to the Rescue</option>
            <option value="/wafs">Web Apps From Scratch</option>
            <option value="/bt">Browser Technologies</option>
            <option value="/pwa">Progressive Web Apps</option>
            <option value="/hcd">Human Centered Design</option>
            <option value="/rtw">Real Time Web</option>
        </select>
        <a id="change_answers_button" href="/">Antwoorden wijzigen</a>
    </main>
</body>

</html>