<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <%- include('layout/header'); %>
    <main>
        <h2>Bedankt voor het invullen van de enquête!
        </h2>
    </main>
</body>

</html>