body {
    color: navy;
    width: 85vw;
    max-width: 68.75rem;
    margin: auto;
}

body::before {
    content: '';
    background-image: url('./images/donut-background.jpeg');
    opacity: 0.75;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

main {
    margin-top: 4rem;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article~* {
    margin-left: 3rem;
}

h2 {
    margin: 5rem auto 0;
}

img {
    max-width: 25rem;
}

footer {
    margin: 2rem 0;
}