body {
    background: linear-gradient(to right top, #051937, #003a5e, #005d75, #008077, #13a165);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 0.5em;
}

main p {
    max-width: 80vmin;
}

header>h1 {
    margin-left: auto;
}

@supports (display: flex) {

    body,
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

}

fieldset {
    border-color: white;
    width: fit-content;
}

@supports not (width: fit-content) {
    fieldset {
        width: 30vw;
    }
}

button[type="submit"] {
    background: linear-gradient(45deg, transparent 5%, #13A165 5%);
    border: 0;
    padding: 0.7em;
    color: #051937;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

input[type="text"]:valid,
input[type="date"]:valid,
input[type="number"]:valid,
textarea:valid {
    border: none;
    outline: 0.2em solid rgb(7, 85, 7);
}