body {
    background: linear-gradient(to right top, #051937, #003a5e, #005d75, #008077, #13a165);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 0.5em;
}

fieldset {
    border-color: white;
    width: fit-content;
}

input[type="submit"] {
    background: linear-gradient(45deg, transparent 5%, #13A165 5%);
    border: 0;
    padding: 0.7em;
    color: #051937;
    /* margin-left: 6em; */
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}